<main class="main text-white flex">
  <div class="io-section m-3">
    <div class="user-io-creator m-2 flex flex-row items-center">
      <h1 class="title rounded-l-xl p-4">Counter Creator</h1>
      <app-create-counter class="rounded-r-xl p-5 bg-purple-600 bg-opacity-55"></app-create-counter>
    </div>
    <svg class="m-2" height="5" width="300" xmlns="http://www.w3.org/2000/svg">
      <line x1="0" y1="0" x2="200" y2="0" style="stroke:black;stroke-width:5" />
    </svg>
  <div class="counter-parent">
    <app-new-counter></app-new-counter>
  </div>
</div>
</main>

<router-outlet />
