/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  /* General Page Style */
  body {
    background: rgb(159,57,0);
    background: linear-gradient(90deg, rgba(159,57,0,1) 0%, rgba(0,0,0,1) 80%);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
  }

  app-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

    /* Mobile/Small VP size */
    @media (max-width: 480px) { 
      body {
      background: rgb(159,57,0);
      background: linear-gradient(rgba(159,57,0,1) 0%, rgba(0,0,0,1) 80%);
      background-repeat: no-repeat;
      min-height: 100vh;
    }
  }
  
      .io-section {
        max-width: 95%;
      }