    <div class="counter counter-container m-2 grid grid-rows-3 grid-cols-3 grid-flow-col flex-col">
        <div class="grid grid-cols-1 flex-col">
            <button class="m-2 text-lg overflow-hidden" (click)="addTitle()">{{ customText }}</button>
            
            <h2 class="text-xs flex m-2 overflow-auto">{{ counterDesc }}</h2>
        </div>

        <svg class="counter-svg flex-1" height="5" width="300" xmlns="http://www.w3.org/2000/svg">
            <line x1="0" y1="0" x2="100%" y2="0" style="stroke:black;stroke-width:5" />
        </svg>
        
        <div class="counter-sp-container flex flex-row">
            <div class="io-container flex m-2 items-center">
                <button class="w-8 h-8 rounded-l-lg bg-purple-600 bg-opacity-25" (click)="decrement()">-</button>
                <span class="m-5">{{ counter }}</span>
                <button class="w-8 h-8 rounded-r-lg bg-purple-600 bg-opacity-25" (click)="increment()">+</button>
            </div>
            <button class="delete" (click)="deleteDiv()"><img class="delete-img" src="../../assets/icons/trashcan/delete.png"/></button>
        </div>
    </div>